__pycache__/core_functions.cpython-36.pyc
__pycache__/nlp_functions.cpython-36.pyc
__pycache__/static.cpython-36.pyc
venv/
__pycache__/nlp_functions.cpython-37.pyc
__pycache__/core_functions.cpython-37.pyc
__pycache__/static.cpython-37.pyc
.idea/
/hidden_tryout.py
/requirements - Copy.txt
